<H4>Question 1
Consider the following Python module:</h4>
    <li>a = 0</li>
    <li>def b():</li>
    <li> global a</li>
    <li>a = c(a)</li>
    <li>def c(a):</li>
    <li> return a + 2</li>
After importing the module into the interpreter, you execute:
<li>>>> b()</li>
<li>>>> b()</li>
<li>>>> b()</li>
<li>>>> a</li>
<li>?</li>
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

<h2>Explaination</h2>a is defined as global variable which means it is a static variable and the whole program will use only one copy of a.
In function b() we are calling global variable a and passing its value to function c(). In function c() we are adding 2 to global variable a.
When first time function b() is called it calls function c() passing value of a as 0. Function c() adds 2 to a making its end value as 2.
Next time when function b() is called, it takes value of a as 2, passes 2 to function c() which makes its value as 4. 
Similarly, in last call function c() gets value of a as 4, which makes it as 6, and when we print a it gives output as 6.

<h4>Question 2
    Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:</h4>
<li>>>> fileLength('midterm.py') </li>
<li>284 </li>
<li>>>> fileLength('idterm.py')</li>
<li>Traceback (most recent call last):</li>
<li>File "<pyshell#34>", line 1, in <module></li>
 <li>fileLength('idterm.py')</li>
<li>File "/Users/me/midterm.py", line 3, in fileLength</li>
 <li>infile = open(filename)</li>
<li>FileNotFoundError: [Errno 2] No such file or directory: </li>
<li>'idterm.py'</li>
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
<li>>>> fileLength('midterm.py')</li>
<li>358</li>
<li>>>> fileLength('idterm.py')</li>
<li>File idterm.py not found.</li>

In [2]:
def file_length(file_name):
        try:
            file = open(file_name)
            contents = file.read()
            file.close()
            print(len(contents))
        except:
            print("File " + file_name + " not found.")
            exit

In [33]:
file_length('Filelength.txt')

123

In [8]:
file_length('ilelength.txt')

File ilelength.txt not found.

<h4>Question 3 Write a class named Marsupial that can be used as shown below:</h4>
<li>>>> m = Marsupial()</li>
<li>>>> m.put_in_pouch('doll')</li>
<li>>>> m.put_in_pouch('firetruck')</li>
<li>>>> m.put_in_pouch('kitten')</li>
<li>>>> m.pouch_contents()</li>
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
<p>a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
<p>b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
<p>c. overloads the __str__ operator so it behaves as shown below.
<li>>>> k = Kangaroo(0,0)</li>
<li>>>> print(k)</li>
I am a Kangaroo located at coordinates (0,0)
<li>>>> k.put_in_pouch('doll')</li>
<li>>>> k.put_in_pouch('firetruck')</li>
<li>>>> k.put_in_pouch('kitten')</li>
<li>>>> k.pouch_contents()v
['doll', 'firetruck', 'kitten']
<li>>>> k.jump(1,0)</li>
<li>>>> k.jump(1,0)</li>
<li>>>> k.jump(1,0)</li>
<li>>>> print(k)</li>
I am a Kangaroo located at coordinates (3,0)

In [8]:
from importlib.resources import contents
class Marsupial():
    contents = []
    def __init__(self) -> None:
        pass
    def put_in_pouch(self, value):
        self.contents.append(value)

    def pouch_contents(self):
        print(self.contents)

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [9]:
from importlib.resources import contents
class Marsupial():
    contents = []
    def __init__(self, X, Y) -> None:
        self.X = X
        self.Y = Y

    def __str__(self) -> str:
        return "I am a Kangaroo located at coordinates ({},{})".format(self.X, self.Y)

    def put_in_pouch(self, value):
        self.contents.append(value)

    def pouch_contents(self):
        print(self.contents)

class Kangaroo(Marsupial):
    def __init__(self, X, Y) -> None:
        super().__init__(X, Y)
    
    def jump(super,dx,dy):
        super.X += dx
        super.Y += dy
    
    def __str__(self) -> str:
        return super().__str__()

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

<h4>Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:<h4>
<p>x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑</p>
    <p>Your function should stop when the sequence gets to number</p>
<p>Your implementation must be recursive, without any loops.</p>
<li>>>> collatz(1)</li>
<p>1</p>
<li>>>> collatz(10)</li>
<p>10</p>
<p>5</p>
<p>16</p>
<p>8</p>
<p>4</p>
<p>2</p>
<p>1</p>

In [15]:
def collatz(x):
    if(x == 1):
        print(int(x))
        return
    
    else:
        if(x%2 == 0):
            print(int(x))
            collatz(x/2)
        
        else:
            print(int(x))
            collatz((3*x) + 1)
            
collatz(1)

1

In [16]:
collatz(10)

10
5
16
8
4
2
1

<h4>Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.</h4>
<li>>>> binary(0) </li>
0
<li>>>> binary(1)</li>
1
<li>>>> binary(3)</li>
11
<li>>>> binary(9)</li>
1001

In [17]:
def binary(number):
    if number < 0:
        return

    if number < 2:
        print(int(number),end='')

    else:
        binary(number/2)
        print(int(number%2),end='')


binary(0)

0

In [18]:
binary(1)

1

In [19]:
binary(3)

11

In [20]:
binary(9)

1001

<h4>Question 6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.</h4>
<p>>>> infile = open('w3c.html')</p>
<p>>>> content = infile.read()</p>
<p>>>> infile.close()</p>
<p>>>> hp = HeadingParser()</p>
<p>>>> hp.feed(content)</p>
<p>W3C Mission</p>
<p>Principles</p>

In [13]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.tag=" "
    
    def handle_starttag(self, tag, attrs):
        self.tag= tag
    
    def handle_data(self,data):
        if self.tag == 'h1':
            print(data)
        elif self.tag == 'h2':
            print(" "+data)
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


 Principles

<h4>Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.</h4>
<p>>>></p> 
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html'
, 2, 0)
<p>http://reed.cs.depaul.edu/lperkovic/test1.html</p>
<p> http://reed.cs.depaul.edu/lperkovic/test2.html</P>
<p> http://reed.cs.depaul.edu/lperkovic/test4.html</p>
<p> http://reed.cs.depaul.edu/lperkovic/test3.html</p>
<p> http://reed.cs.depaul.edu/lperkovic/test4.html</p>

In [4]:
#reference from week 6 class notes
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [5]:
#reference from week 6 class notes
visited = set() # initialize visited to an empty set

def Webdir(url,depth,indent):
    '''a recursive web crawler that calls analyze()
       on every visited web page'''
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()
    print('{:45}'.format(url))

    # add url to set of visited pages
    global visited     # warns the programmer 
    visited.add(url)

    # analyze() returns a list of hyperlink URLs in web page url 
    links = analyze(url)

    # recursively continue crawl from every link in links
    for link in links:
        # follow link only if not visited
        if link not in visited:
            try:
                Webdir(url,depth,indent)
            except:
                pass

In [7]:
Webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html

NameError: name 'analyze' is not defined

<h4>Question 8
Write SQL queries on the below database table that return: </h4>
<p>a) All the temperature data.</p>
<p>b) All the cities, but without repetition.</p>
<p>c) All the records for India.</p>
<p>d) All the Fall records.</p>
<p>e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.</p>
<p>f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.</p>
<p>g) The total annual rainfall for Cairo.</p>
<p>h) The total rainfall for each season.</p>

In [1]:
!pip install ipython-sql

Collecting ipython-sql
  Using cached ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1
  Using cached prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: six in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Collecting sqlparse
  Using cached sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: backcall in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: colorama in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: traitlets>=5 in c:\users\mayur seth\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\mayur seth\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\mayur seth\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mayur seth\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: pure-eval in c:\users\mayur seth\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\mayur seth\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\mayur seth\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=8de1c8bee3229c2b27d78bcb1991590520c0fa7a752618aca54a3f5b2c7afabe
  Stored in directory: c:\users\mayur seth\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.2

In [2]:
%load_ext sql
%sql sqlite:///

In [3]:
%%sql
CREATE TABLE mayur(
    city varchar(45),
    country varchar(45),
    season varchar(45),
    temperature float(10),
    rainfall  float(10)
);

 * sqlite:///
Done.

[]

In [4]:
%%sql
INSERT INTO mayur VALUES
('Mumbai','India', 'winter','24.8','5.9'),
('Mumbai','India', 'spring','28.4','16.2'),
('Mumbai','India', 'summer','27.9','1549.4'),
('Mumbai','India', 'fall','27.6','346.0'),
('London','United Kingdom','winter','4.2','207.7'),
('London','United Kingdom','sping','8.3','169.6'),
('London','United Kingdom','summer','15.7','157.0'),
('London','United Kingdom','fall','10.4','218.5'),
('Cairo','Egypt', 'winter','13.6','16.5'),
('Cairo','Egypt', 'spring','20.7','6.5'),
('Cairo','Egypt', 'summer','27.7','0.1'),
('Cairo','Egypt', 'fall','22.2','4.5'
);

 * sqlite:///
12 rows affected.

[]

In [5]:
%sql select * from mayur;

 * sqlite:///
Done.

[('Mumbai', 'India', 'winter', 24.8, 5.9),
 ('Mumbai', 'India', 'spring', 28.4, 16.2),
 ('Mumbai', 'India', 'summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'sping', 8.3, 169.6),
 ('London', 'United Kingdom', 'summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'fall', 22.2, 4.5)]

In [6]:
%sql select temperature from mayur;

 * sqlite:///
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [7]:
%sql select distinct city from mayur;

 * sqlite:///
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [8]:
%sql select * from mayur where country = 'India';

 * sqlite:///
Done.

[('Mumbai', 'India', 'winter', 24.8, 5.9),
 ('Mumbai', 'India', 'spring', 28.4, 16.2),
 ('Mumbai', 'India', 'summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'fall', 27.6, 346.0)]

In [9]:
%sql select * from mayur where season ='fall';

 * sqlite:///
Done.

[('Mumbai', 'India', 'fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'fall', 22.2, 4.5)]

In [10]:
%sql select City, country, season from mayur where rainfall > 200 AND rainfall < 400;

 * sqlite:///
Done.

[('Mumbai', 'India', 'fall'),
 ('London', 'United Kingdom', 'winter'),
 ('London', 'United Kingdom', 'fall')]

In [11]:
%sql select city, country from mayur where season = 'fall' And temperature > 20 ORDER BY temperature;

 * sqlite:///
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [12]:
%sql select sum(rainfall) from mayur where city = 'Cairo';

 * sqlite:///
Done.

[(27.6,)]

In [13]:
%sql select sum(rainfall) from mayur group by season;

 * sqlite:///
Done.

[(569.0,), (169.6,), (22.7,), (1706.5,), (230.1,)]

 <h4>Question 9
. Suppose list words is defined as follows:</h4>
<p>>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']</p>
<p>Write list comprehension expressions that use list words and generate the following 
lists:</p>
<p>a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']</p>
<p>b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']</p>
<p>c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).</p>
<p>d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)</p>
<p>e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)</p>

In [83]:
from itertools import combinations
from operator import le

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

caps = []
lower = []
length = []
combination = []
biggerThanFour = []

for word in words:
    caps.append(word.upper())
    lower.append(word.lower())
    length.append(len(word))
    combination.append([word.upper(), word.lower(), len(word)])
    if len(word) >= 4:
        biggerThanFour.append(word)

print(caps)
print(lower)
print(length)
print(combination)
print(biggerThanFour)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']